.title-move-enter,.title-move-leave-to {
  transform: translate3d(0,px2rem(10),0);
  opacity: 0;
}
.hot-search-move-enter,.hot-search-move-leave-to {
  transform: translate3d(0,px2rem(30),0);
  opacity: 0;
}
.title-move-enter-to,.title-move-leave,.hot-search-move-enter-to,.hot-search-move-leave {
  transform: translate3d(0,0,0);
  opacity: 1;
}
.title-move-enter-active,.title-move-leave-active,.hot-search-move-enter-active,.hot-search-move-leave-active {
  transition: all .2s linear;
}